<style>
  .shipping-limit-container {
  padding: 17px;
  background-color: #FEECEC;
  border-radius: 8px;
  border: 1px solid red;
  padding: 11px 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#shipping-limit-text {
  color: red;
  font-size: 13px;
}

.shipping-limit-icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

@media (max-width: 768px) {
  #shipping-limit-text {
  font-size: 10px;
  font-weight: 700;
}
}
</style>

<div class="shipping-limit-container">
  <span class="statusBackorder" id="shipping-limit-text"><b>*NOTE This order exceeds 25kg, Free shipping does not apply.</b></span>
</div>