.gallery__block-container{
  --page-padding:10px;
  row-gap: 10px;
}
.image-fit-contain [style*=--aspect-ratio] img {
  object-fit: contain;
}
.product__media-list{
  position:relative;
}
[class*="product__media-list_btn"]{
  position:absolute;
  top: 50%;
  transform: translate(0, -50%);
  aspect-ratio:1;
  --radius-button:50%;
  z-index: 5;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  transition: left var(--duration-medium) var(--animation-bezier),
              right var(--duration-medium) var(--animation-bezier);
}
[class*="product__media-list_btn"] .btn{
  width:40px;
  height:40px;
  padding:0;
}
.product__media-list .product__media-list_btn-prev{
  left:-50px;
}
.product__media-list .product__media-list_btn-next{
  right:-50px;
}
.product__media-list:hover .product__media-list_btn-prev{
  left:10px;
}
.product__media-list:hover .product__media-list_btn-next{
  right:10px;
}
@media (min-width: 1025px) {
  [class*="product__media-list_btn"] .btn:hover:before {
    background: var(--color-base);
  }
  [class*="product__media-list_btn"] .btn:hover svg path {
    fill: var(--auto-text-color--with-base-color);
  }
  .product__media-list{
    clip-path: xywh(0 0 100% 100% round var(--radius) var(--radius));
    transition: aspect-ratio 300ms ease;
    aspect-ratio:var(--ratio, unset);
  }
}
@media (max-width:1024px){
  [class*="product__media-list_btn"]{
    display:none;
  }
}