.header-menu-vertical-container{
  padding-bottom: 20px;
}
.vertical-menu{
  position: relative;
  z-index:2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vertical-menu__button{
  position: relative;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  padding: 0 20px;
  background: var(--background);
  color: var(--color);
  border-radius: var(--radius-menu);
  transition: color var(--duration-medium) ease, background var(--duration-medium) ease, border-radius var(--duration-medium) ease;
  z-index: 2;
  line-height: 21px;
}
.vertical-menu[data-menu-opened] summary{
  pointer-events: none;
}
.no-js details[open] .vertical-menu__button,
details[open].menu-opening .vertical-menu__button,
.vertical-menu[data-menu-opened] .vertical-menu__button{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
details[open]>.vertical-menu__container{
  transition: opacity var(--duration-medium) ease,
    		  visibility var(--duration-medium) ease,
              top var(--duration-medium) ease;
}
.no-js details[open]>.vertical-menu__container,
details[open].menu-opening>.vertical-menu__container,
.vertical-menu[data-menu-opened]>.vertical-menu__container{
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.vertical-menu__container nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.vertical-menu__show-more{
  margin: 0 10px 5px;
  padding-top: 0;
  cursor:pointer;
}
.vertical-menu__items>*:not(.hidden-menu-item){
  z-index: 1;
}
.hidden-menu-item{
  display:none;
  pointer-events: none;
}
vertical-menu.menu-opened{
  height: auto!important;
}
vertical-menu.menu-opened .hidden-menu-item{
  display:block;
  pointer-events: none;
  top: -150px;
  opacity: 0;
  visibility: hidden;
}
vertical-menu.menu-opened.menu-show-items .hidden-menu-item{
  pointer-events: auto;
  opacity: 1;
  top: 0;
  visibility: visible;
}
.vertical-menu__show-more span:after{
  content:attr(data-main-text);
}
.vertical-menu__show-more.active span:after{
  content:attr(data-active-text);
}
.no-js .vertical-menu__show-more{
  display: none;
}
.vertical-menu__container{
  display: block;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  background: var(--color-vertical-menu-dropdown);
  box-shadow: var(--shadow);
  border-radius: 0 0 var(--radius-menu) var(--radius-menu);
  position: absolute;
  top: calc(100% - 20px);
  z-index: 1;
}
.vertical-menu__container nav{
  padding: 10px;
}
.vertical-menu--hover{
  position: relative;
}
.vertical-menu-item{
  display: flex;
  align-items:center;
  padding:var(--vertical-menu-item-padding);
  border-radius: var(--radius-button);
  transition: color var(--duration-medium) ease, background var(--duration-medium) ease;
  color: var(--color-base);
  word-break: break-word;
}
.vertical-menu-item span{
  padding-right: 5px;
}
.vertical-menu--hover:hover .vertical-menu-item{
  color: var(--auto-text-color-accent);
  background: var(--color-accent);
}
.vertical-menu--hover:hover .vertical-menu-item > svg path{
  transition: fill var(--duration-medium) ease;
}
.vertical-menu--hover:hover .vertical-menu-item > svg path{
  fill: var(--auto-text-color-accent);
}
.vertical-menu-item svg{
  flex: 0 0 auto;
  opacity: var(--opacity-icons);
  transition-behavior: normal;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.68, -0.13, 0.3, 1.26);
  transition-delay: 0s;
  transition-property: all;
}
.vertical-menu-item svg:last-child{
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.vertical-menu--hover:hover .vertical-menu-item svg{
  opacity: 1;
}
.vertical-menu-item svg path{
  fill: var(--color-base);
}
.vertical-menu-item svg:first-child{
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.vertical-menu-item svg:last-child{
  margin-left: auto;
  margin-right:0px;
}
.vertical-menu-item img{
  width: auto;
  margin-right: 10px;
  transition-behavior: normal;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.68, -0.13, 0.3, 1.26);
  transition-delay: 0s;
  transition-property: all;
  backface-visibility: hidden;
}
.categories_btn__active{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  pointer-events: none;
}
.vertical-menu__addon-button{
  padding: 14px 10px 15px;
}
.vertical-menu__addon:hover .vertical-menu__addon-button{
  display: none;
}
.vertical-menu__addon .vertical-menu__addon-content{
  display: none;
}
.vertical-menu__addon:hover .vertical-menu__addon-content{
  display: block;
}
.vertical-menu .submenu-container.submenu--megamenu {
  position: relative;
}
.vertical-menu .megamenu-container{
  top: 0;
  left: calc(100% + 20px);
  width: calc(1046 * var(--page-width) / 1300);
}
.submenu-container .vertical-menu-item:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  display:block;
  width:calc(100% + 20px);
  height:100%;
  background:transparent;
  cursor:default;
  z-index:-1;
}
@media (min-width: 1025px) and (max-width:1200px){
  .vertical-menu .megamenu-container{
    width: 708px;
  }
  .vertical-menu .submenu-design__megamenu > .grid > .col-four_fifth{
    max-width: 66.666666%;
  }
  .vertical-menu .submenu-design__megamenu > .grid > .col-one_fifth{
    max-width: 33.333333%;
  }
  .vertical-menu .submenu-design__megamenu > .grid > .col-four_fifth > .grid > [class*="col-"] {
    max-width: 50%;
  }
}
@media (min-width: 1201px) and (max-width:1440px){
  .vertical-menu .megamenu-container{
    width: 874px;
  }
  .vertical-menu .submenu-design__megamenu > .grid > .col-four_fifth{
    max-width: 75%;
  }
  .vertical-menu .submenu-design__megamenu > .grid > .col-one_fifth{
    max-width: 25%;
  }
  .vertical-menu .submenu-design__megamenu > .grid > .col-four_fifth > .grid > [class*="col-"] {
    max-width: 33.33333%;
  }
}

.vertical-menu .vertical-menu--hover>.submenu-design__simple{
  top: 0;
  left: calc(100% + 10px);
}
.vertical-menu .vertical-menu--hover:hover>[class*="submenu-design__"]{
  top: 0;
  left: calc(100% + 20px);
}
.vertical-menu .submenu-container.submenu--megamenu .submenu-design__megamenu{
  top: 0;
  left: 10px;
}
.vertical-menu .submenu-container.submenu--megamenu:hover .submenu-design__megamenu{
  top: 0;
  left: 0;
}
.vertical-menu .megamenu_show_banner .col-four_fifth{
  padding: 0;  
}
.vertical-menu .col-four_fifth>.grid{
  margin: 0;
}
@media (min-width:1025px){
  [data-menu-in-content]>*:first-child,
  [data-menu-in-content="2"]>*:nth-child(2){
    width: 100%;
    max-width: calc(var(--page-width) + var(--page-padding) * 2);
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(20px - var(--page-padding) / 2);
    padding-right: calc(20px - var(--page-padding) / 2);
  }
  [data-menu-in-content]>*:first-child>div,
  [data-menu-in-content="2"]>*:nth-child(2)>div{
    position: relative;
    width: 100%;
    padding-left: calc(20% + var(--page-padding) / 2);
    padding-right: calc(var(--page-padding) / 2);
    border-radius: var(--radius);
  }
  [data-menu-in-content]>*:first-child>div [class*="page-"],
  [data-menu-in-content="2"]>*:nth-child(2)>div [class*="page-"]{
    padding-right: 0;
    padding-left: 0;
  }
  [data-menu-in-content]>*:first-child .page-fullwidth,
  [data-menu-in-content="2"]>*:nth-child(2) .page-fullwidth{
    border-radius: var(--radius);
    overflow: hidden;
  }
}
@media (min-width:1441px){
  [data-header-wide="true"][data-menu-in-content]>*:first-child>div{
    padding-left: calc(16.666666% + var(--page-padding) / 2);
  }
}
@media (min-width:1025px) and (max-width: 1440px){
  [data-menu-in-content]>*:first-child,
  [data-menu-in-content="2"]>*:nth-child(2){
    max-width: unset;
    padding-left: calc(70px - var(--page-padding) / 2);
    padding-right: calc(70px - var(--page-padding) / 2);
  }
}
@media (min-width: 1440px){
  [data-header-wide][data-menu-in-content]>*:first-child,
  [data-header-wide][data-menu-in-content="2"]>*:nth-child(2) {
    max-width: unset;
    padding-left: calc(70px - var(--page-padding) / 2);
    padding-right: calc(70px - var(--page-padding) / 2);
  }
}
@media (min-width:1025px){
  .vertical-menu--hover__type2:hover .vertical-menu-item img,
  .vertical-menu--hover__type2:hover .vertical-menu-item svg:first-child{
    transform: rotate(-10deg) scale(1.2);
  }
  .vertical-menu-item__text{
    display:block;
    position:relative;
    left:0px;
    transition-behavior: normal;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.68, -0.13, 0.3, 1.26);
    transition-delay: 0s;
    transition-property: left;
  }
  .vertical-menu--hover__type2:hover .vertical-menu-item svg:last-child{
    margin-right:5px;
  }
  .vertical-menu-button--hover__type2:hover .vertical-menu__button .vertical-menu-item__text{
    left:var(--left, 0px);
  }
  .vertical-menu--hover__type2:hover .vertical-menu-item__text{
    left:var(--left, 0px);
  }
}


.icon-hamburger{
  display:inline-block;
  margin-right: 10px;
}
.icon-hamburger span{
  position: relative;
  background: var(--color);
  display: flex;
  padding: 0;
  transition: all 0.2s ease, margin 0.2s cubic-bezier(.68,-.13,.3,1.26);
  width: 20px;
  height: 2px;
}
.icon-hamburger span:not(:first-child){
  margin-top:4px;
}
.no-js details[open] .icon-hamburger span:nth-of-type(1),
.menu-opening .icon-hamburger span:nth-of-type(1) {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  top: 6px;
}
.no-js details[open] .icon-hamburger span:nth-of-type(2),
.menu-opening .icon-hamburger span:nth-of-type(2) {
  opacity: 0;
}
.no-js details[open] .icon-hamburger span:nth-of-type(3),
.menu-opening .icon-hamburger span:nth-of-type(3) {
  -webkit-transform: rotate3d(0,0,1,-45deg);
  transform: rotate3d(0,0,1,-45deg);
  top: -6px;
}