.facets__horizontal .facets__wrapper>*{
  display: inline-block;
  margin-top: 15px;
  margin-right: 20px;
}
.disclosure-has-popup {
  position: relative;
}
.disclosure-has-popup[open] > summary::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
  cursor: default;
  background: transparent;
}
.disclosure-has-popup > summary::before {
  display: none;
}
.disclosure-has-popup[open] > summary + * {
  z-index: 100;
}
.facets__selected__box{
  display:flex;
  flex-direction:column;
  padding: 15px 0;
}
@media screen and (min-width: 750px) {
  .disclosure-has-popup[open] > summary + * {
    z-index: 4;
  }
  .facets .disclosure-has-popup[open] > summary + * {
    z-index: 2;
  }
}
.facets__display {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background-color: var(--color-simple-dropdown);
  border-radius: var(--radius);
  width: 324px;
  box-shadow: var(--shadow);
  padding-bottom: 10px;
}
@media (min-width: 1025px){
  .facets__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    border-bottom: 1px solid var(--color-lines-borders);
    padding: 0 20px;
  }
}
.facets__horizontal .facets__item:last-child .facet-checkbox{
  padding-bottom: var(--facets-padding);
}
.facets__display__content{
  max-height: 370px;
  overflow-y: auto;
  padding: calc(20px - var(--facets-padding)) 20px 4px;
}
.facets__display.parent-visual-display-parent{
  padding-bottom:20px;
}
.parent-visual-display-parent .facets__display__content{
  padding: 20px 20px 5px 20px;
}
.facets__horizontal .facets__wrapper .facets__disclosure-no-js{
  display: flex;
  margin-top: var(--padding2);
}
.facets__disclosure-no-js > *:not(:last-child){
  margin-right: 20px;
}
.no-js .facets__disclosure__select{
  width: 180px;
}