a.popular-categories{text-decoration: none;}
.popular-categories{
  position: relative;
  padding: 40px;
  color: var(--color-base);
  display:flex;
  flex-direction:row;
  gap:20px;
  --image-width:33.33333%;
}
.popular-categories>:first-child:not(:only-child){
  flex: 0 0 var(--image-width);
  height: max-content;
  z-index:1;
}
.popular-categories>:last-child:not(:only-child){
  flex: 0 0 auto;
  max-width:calc(100% - var(--image-width) - 20px);
  width:100%;
  z-index:1;
}
.popular-categories:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-base);
  opacity: 0.3;
  border-radius: var(--radius);
}
.popular-categories__menu{
  display:flex;
  flex-direction:column;
  margin-top:3px;
}
.popular-categories__menu a{
  padding-top:7px;
}
.popular-categories__menu:first-child li:first-child a{
  padding-top:0;
}
.popular-categories__link{
  display:inline-flex;
  gap:5px;
  align-items:center;
  text-decoration:none;
}
.popular-categories__link svg{
  flex: 0 0 auto;
}
.popular-categories__link svg path{
  fill: var(--color-base);
}
.popular-categories.popular-categories--reverse{
  flex-direction: row-reverse;
}
@media (min-width: 1025px){
  .popular-categories.scale-border-hover:before{
	transform: translate3d(0,0,0);
	transition: all var(--duration-medium) var(--zoom-animation-bezier);
  }
  .popular-categories.scale-border-hover:hover:before{
	--scale-on: 20px;
	--move-x: calc(var(--scale-on) / 2 * -1);
	--move-y: calc(var(--scale-on) / 2 * -1);
	transform: translate3d(var(--move-x),var(--move-y),0);
	width: calc(100% + var(--scale-on));
	height: calc(100% + var(--scale-on));
  }
}
@media (max-width: 1024px){
  .popular-categories__menu{
    margin-top:0;
  }
  .popular-categories__menu a{
    padding-top:26px;
  }
}
@media (max-width: 576px){
  .popular-categories{
    padding:30px;
  }
  .popular-categories__link-button{
    margin-top:22px;
  }
}
@media (min-width: 577px){
  .popular-categories{
    height:100%;
  }
}