header{
  opacity: 1;
}
.shopify-section-header-sticky:not(.shopify-section-first-hide){
  background: var(--color-body-background);
}
.header__secondary-menu{
  padding: 16px 0;
  background: var(--color-secondary-background);
}
.header__icons{
  justify-content: flex-end;
  gap: 10px 20px;
}
.header__icons__customer{
  display: flex;
  align-items: center;
}
.header__button{
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header__button+.header__button{
  margin-left: 41px;
}
.header__button+.header__button:before{
  content: "";
  position: absolute;
  left: -21px;
  width: 1px;
  height: 30px;
  background: var(--color-lines-borders);
  z-index: 1;
}
.header__button:after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.header__button svg{
  width: 20px;
  height: 20px;
  transition: opacity var(--duration-medium) var(--animation-bezier);
}
.header__heading-link{
  display: flex;
  --scale-image: 1.05;
  transition: transform var(--duration-medium) var(--zoom-animation-bezier);
  transform: scale(1);
}
.header__heading-logo--svg{
  display: flex;
}
.header__heading-logo--svg svg{
  width: var(--max-width);
  height: var(--max-height);
}
.header__icons__svg{
  position:relative;
}
.header__icons__svg .header__icons__svg__main{
  display:flex;
  opacity:0;
  visibility:hidden;
}
.header__icons__svg .header__icons__svg__animated{
  pointer-events:none;
  position:absolute;
  top:0;
  left:0;
}
@media (min-width: 1025px){
  .header__heading-link:hover{
    backface-visibility: hidden;
    transform: scale(var(--scale-image));
  }
  .header__desktop{
    position: relative;
    z-index: 1;
  }
  header-menu-tiles{
    display: block;
  }
  .header__button .header__icons__svg .header__icons__svg__animated svg{
    display:block;
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition-behavior: normal;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.68, -0.13, 0.3, 1.26);
    transition-delay: 0s;
    transition-property: all;
    backface-visibility: hidden;
  }
  .header__button:hover .header__icons__svg .header__icons__svg__animated svg{
    top:-7px;
    transform:scale(1.2);
  }
}
.header__heading,
*:not(.header__heading)>.header__heading-link{
  text-align: center;
  justify-self: center;
  grid-column: 2;
}
.logo-to-left .header__heading{
  grid-column: unset;
}
.logo-to-left nav{
  grid-column: unset;
}
.logo-to-left.menu-to-right nav{
  justify-self: flex-end;
}
.logo-to-left.menu-to-right nav .list-menu--inline{
  justify-content: flex-end;
}
.js .vertical-menu[data-menu-opened] vertical-menu[hide-before-load]{
  opacity: 0;
}
.section-header{
  z-index: 11;
}
.shopify-section-header-sticky,
.overflow-hidden-tablet .section-header{
  position: sticky;
}
@media (max-width:1024px){
  .fixed-position{
    position: fixed!important;
    top: 0;
    width: 100%;
  }
}
.shopify-section-header-sticky:not(.shopify-section-first-hide){
  top: 0;
}
.shopify-section-header-sticky:not(.shopify-section-header-hidden){
  box-shadow:var(--shadow);
}
.shopify-section-header-hidden {
  transform: translateY(-100%);
}
.shopify-section-header-hidden.menu-open {
  transform: translateY(0);
}
.section-header.animate {
  transition: transform 0.15s ease-out;
}
.shopify-section-header-sticky vertical-menu{
  height: auto!important;
  min-height: unset!important;
}
@media (max-width: 1024px){
  .header__button:hover:after{
    background: var(--mobile-focus-color);
  }
}
.logo-to-left--mobile header-drawer{
  order:3;
}
.logo-to-left--mobile .drawer__icon-menu {
  margin-left: 0;
  padding: 12px 0px 12px 10px;
}
.header.logo-to-left--mobile{
  grid-template-columns: 1fr auto auto;
}
.header.logo-to-left--mobile.logo-to-left--catalog{
  grid-template-columns: 1fr auto;
}
.logo-to-left--mobile .header__heading,
.logo-to-left--mobile *:not(.header__heading)>.header__heading-link {
  text-align: left;
  justify-self: flex-start;
}
.logo-to-left--mobile .menu-drawer {
  transform: translate(100%);
  left: unset;
  right: 0;
}
.logo-to-left--mobile .menu-drawer__close-button{
  justify-content: flex-end;
}
.logo-to-left--mobile .menu-drawer__close-button:hover:before{
  left: unset;
  right: -12px;
}
.logo-to-left--mobile .menu-drawer__close-button.link:not(.link-only-svg) svg:first-child{
  margin-right: 0;
}
.logo-to-left--mobile .main-menu-button .drawer__icon-menu{
  position:relative;
}
.logo-to-left--mobile .main-menu-button .drawer__icon-menu:hover{
  background: unset;
}
.logo-to-left--mobile .main-menu-button .drawer__icon-menu:hover:before{
  content:"";
  position:absolute;
  top: 0;
  left: -2px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--mobile-focus-color);
}
.opened-search{
  padding-top: 2px;
  padding-bottom: 30px;
}
.shopify-section-header-sticky:not(.shopify-section-header-hidden) .opened-search{
  padding-bottom: 20px;
}


.header-phone-number__desktop{
  text-align:right;
}
.header-phone-number__desktop svg{
  width:20px;
  height:20px;
  flex: 0 0 auto;
}
.header-phone-number__mobile svg{
  width:20px;
  height:20px;
}
.header-phone-number__desktop+*{
  margin-left:20px;
}
.header-phone-number__icon{
  display:flex;
  align-items:center;
  gap:10px;
}
.header-phone-number__desktop .header-phone-number__icon{
  justify-content:flex-end;
}
.phone_area__icon__container{
  position:relative;
}
.phone_area__icon__container .phone_area__icon{
  display: flex;
  opacity:0;
  visibility:hidden;
}
.phone_area__icon__container .phone_area__icon__animated{
  display: flex;
  position:absolute;
  top:0;
  left:0;
}
@media (min-width:1025px){
  .phone_area__icon__container .phone_area__icon__animated svg{
    display:block;
    top:0px;
    left:0px;
    position: relative;
    transition-behavior: normal;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.68, -0.13, 0.3, 1.26);
    transition-delay: 0s;
    transition-property: all;
    backface-visibility: hidden;
    width:100%;
    height:100%;
    transform: rotate(0deg);
  }
  .header-phone-number__desktop:hover .phone_area__icon__container .phone_area__icon__animated svg{
    top:-2px;
    left:7px;
    width:calc(100% + 4px);
    height:calc(100% + 4px);
    transform: rotate(20deg);
  }
}



.header-phone-number__mobile__top-line{
  height:1px;
  border-top: 1px solid var(--color-base);
  opacity: .3;
  padding-bottom:15px;
}
.header-phone-number__mobile{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    "a b"
    "c d"
    ". e";
  column-gap: 10px;
}
.header-phone-number__mobile>*{
  display:flex;
  align-items:center;
}
.header-phone-number__mobile .phone_area1{
  grid-area: a;
}
.header-phone-number__mobile .phone_area2{
  grid-area: b;
}
.header-phone-number__mobile .phone_area3{
  grid-area: c;
}
.header-phone-number__mobile .phone_area4{
  grid-area: d;
}
.header-phone-number__mobile .phone_area5{
  grid-area: e;
}
@media (min-width: 577px) and (max-width: 1024px){
  .header-phone-number__mobile__box{
    padding:0 30px 20px;
  }
}
@media (max-width: 576px){
  .header-phone-number__mobile__box{
    padding:0 20px 20px;
  }
}
